header{
    width: 100vw;
    height: 70vh;
    background-image: url('../img/sl.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    }
.headerContent{
        margin-bottom: 150px;
        text-align: center;
    }
.headerTitle{
        font-size: 15vmin;
        font-weight: 600; 
        color: black;
    }
    
section{
    width: 80%;
    margin: 80px auto;
    font-size: 4vmin;
    color:#49497e
}
.title h1{
    text-align: center;
    
}
.title .desc{
    display: flex;
    align-items: center;
    text-align: center;
    
}
p{color: black;}
@media only screen and (max-width:850px){
    .headerContent{
        margin-bottom: 50px;
    }
    
}