header{
    width: 100vw;
    height: 70vh;
    background-image: url('../img/header.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    }
.headerContent{
    margin-bottom: 50px;
    color: white;
    text-align: center;
}
.headerTitle{
    font-size: 4vmin;
    font-weight: 800; 
    color: whitesmoke;
    text-shadow: 2px 2px 5px whitesmoke;
}

.headerDesc{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

section{
    width: 80%;
    margin: 80px auto;
    font-size: 4vmin;
    color:#484872
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row .col img{
    width: 80%;
    height: 200px;
    object-fit: cover;
}
.events .row{
    margin-top: 50px;
}
.events h1{
    text-align: center;
}
h4{
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
.exploreContent p{
    color: #7c7c7c;
    padding: 0px 40px;
    font-size: 3vmin;
    text-shadow: 2px 2px 5px whitesmoke;;
}
.events .ctn{
    margin-top: 30px;
}
.explore{
    width: 100%;
    height: 60vh;
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
    background-image: url('../img/explore.jpg');
    align-items: center;

}
.exploreContent{
    width: 80%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top:50px ;
}
.exploreContent h1{
    font-size: 7vmin;
   
}
.exploreContent .line{
    margin-bottom: 10px;
}
.exploreContent p{
    color:white;
    font-weight: bold;
}
.exploreContent .ctn{
    margin-top: 40px;
}
@media only screen and (max-width:850px){
    .col img{
        max-width: 90%;
    }
    .row{
        flex-direction: column;
    }
    .col{
        margin-top:10px ;
    }
    p{
        padding: 10px;
    }
    .exploreConten{
        width: 100px;
    }
    
}
